.header{
    width: 100%;
    height:100px;
    margin:0 auto;
    display:flex;
    align-items:center;
}

.container{
    width:1200px;
    height:60px;
    margin:0 auto;
    display:flex;
    align-items:center;
}

.logoWrap{
    display:block;
}

.logo{
    width: 40px;
    height:60px;               
    display:block;
}

.logo:hover{
    transform: translateY(-2px);
    filter: brightness(0.95);
    transition: 0.3s;
}

.navcontainer{
    display: contents;
} 

.nav{
    display:flex;
    align-items:center;;
    height:60px;
    margin-left:680px;          
}

.link{
    display:flex;
    align-items:flex-start;     
    height:60px;
    padding:20px 16px 0 16px;   
    text-decoration:none;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33333;
    color: #28224b;
}

.link:hover{
    text-decoration: underline;
}

.active{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33333;
    color: #35b8be;
}

.cartDiv{
    margin-left:105px;
    display:flex;
    align-items:center;
    justify-self: end;
}

.cartIcon{
    width: 55px;
    height: 55px;
    display:block;
}


.cartBtn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartBtn:hover{
    opacity: 0.6;
}

