.page{
    height: 820px;
    background-image: url('../../assets/images/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    height: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.title{
    font-weight: 400;
    font-size: 60px;
    max-width: 800px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: #08090a;
    margin-bottom: 25px;
}

.accent{
    color: #35b8be;
    max-width: max-content;
}

.ptext{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.34;
    letter-spacing: 0.02em;
    color: #546285;
    margin-bottom: 53px;
}

.pbutton{
    width: 193px;
    height: 60px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.17647;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #35b8be;
}

.pbutton:hover{
    transform: translateY(-2px);
    filter: brightness(0.95);
    transition: 0.3s;
}

.trust{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.star{
    width: 110px;
    height: 27px;
}

.trustText{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #08090a;
}

.score{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #35b8be;
}