html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
